html, body {
	margin: 0;
	padding: 0;
}

input[type="button"] {
	background: #444;
	color: #fff;
	border: none;
	padding: 10px;
	min-width: 100px;
}

input[type="button"]:hover {
	background: #333;
}

input[type="button"].disabled, input[type="button"].disabled:hover, input[type="button"].disabled:active {
	color: #ddd;
	background: #999;
}

input[type="button"]:active {
	color: #eee;
	background: #555;
}

#wrapper {
	margin: 25px auto 0;
	text-align: center;
}

.row {
	display: table;
	margin: 25px auto;
	height: 400px;
}

.row div {
	display: table-cell;
}

.side {
	width: 150px;
	vertical-align: top;
}

.side input[type="button"] {
	display: block;
	margin: 5px auto;
}

.side input[type="button"]:first-child {
	margin-top: 0;
}

.side input[type="button"]:last-child {
	margin-bottom: 0;
}

#river {
	background-color: #3B62D0;
	width: 300px;
}